
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
<aside>
  <a>
  <svg version="1.1" id="nav-btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
    <path id="list-view-icon" d="M462,108.857H50V50h412V108.857z M462,167.714H50v58.857h412V167.714z M462,285.429H50v58.857h412
   V285.429z M462,403.143H50V462h412V403.143z"/>
  </svg>
</a>
  <h1>Vue.js</h1>
  
  <nav>
    <ul>
      <li><a href="#">Introduction</a></li>
      <li><a href="#Getting-Started">Getting Started</a></li>
      <li><a href="basic">Basics for Vue.js</a></li>
      <li><a href="#vm">View-Model</a></li>
      <li><a href="view">View</a></li>
      <li><a href="models">Models</a></li>
    </ul>
  </nav>
  
  
</aside>


<article>
    <h2>Introduction</h2>
    <hr>
    <br><br>
  <p><b><h3>What is Vue.js??</h3></b>
    <br><br>
    Vue (pronounced /vjuː/, like view) is a progressive framework for building user interfaces. Unlike other
    monolithic frameworks, Vue is designed from the ground up to be incrementally adoptable. The core library
    is focused on the view layer only, and is easy to pick up and integrate with other libraries or existing
    projects. On the other hand, Vue is also perfectly capable of powering sophisticated Single-Page Applications
    when used in combination with modern tooling and supporting libraries.
    <br><br>
    If you’d like to learn more about Vue before diving in, we created a video walking through the core principles
    and a sample project.<br><br>
    If you are an experienced frontend developer and want to know how Vue compares to other libraries/frameworks,
    check out the Comparison with Other Frameworks.
    <br><br>
    <h2 id="Getting-Started">Getting Started</h2>
    <hr>
    <br><br>   
    <h2 id="basic">Basics for vue.js</h2>
    <hr>
    <br><br>
    <div class="scrimba"><a href="https://scrimba.com/p/pXKqta/cQ3QVcr" target="_blank">Try this lesson on Scrimba</a>
    <p class="bas">At the core of Vue.js is a system that enables us to declaratively 
      render data to the DOM using straightforward template syntax:</p>
    </div>
    <h2 id="vm">View-Model</h2>
    <hr>
    <br><br>
    <h2 id="view">View</h2>
    <hr>
    <br><br>
    <h2 id="models">Models</h2>
    <hr>
    <br><br>
</p>
</article>
</body>
</html>
